/** Colors */
$brand-primary: #ffffff;
$brand-button: #eae7e247;
$brand-orange: #f25738;
$brand-blue: #48baba;
$bg-body: #f7f7f5;
$map: #d4d1ca;
$dark-font: #1c1c1c;
$light-font: #efece5;

/** Box Model  */
$spacer: 2rem;

/** Breakpoints  */
$breakpoint-nav: 1199px;
$screen-xxl-min: 1800px !default;
$screen-xl-max: $screen-xxl-min - 1px !default;
$screen-xl-min: 1200px !default;
$screen-lg-max: $screen-xl-min - 1px !default;
$screen-lg-min: 992px !default;
$screen-md-max: $screen-lg-min - 1px !default;
$screen-md-min: 768px !default;
$screen-sm-max: $screen-md-min - 1px !default;
$screen-sm-min: 481px !default;
$screen-xs-max: $screen-sm-min - 1px !default;

/** Custom Breakpoints */
$large-screen: 1500px !default;

/** Fonts */
@font-face {
    font-family: "hero";
    src:
        url("@fonts/hero_light-webfont.woff2") format("woff2"),
        url("@fonts/hero_light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "hero";
    src:
        url("@fonts/hero-webfont.woff2") format("woff2"),
        url("@fonts/hero-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
